<!DOCTYPE html>
<html>
<head>
    <title>Nudge — Task Manager</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1> Nudge Task Manager</h1>

    {% for task in tasks %}
        <div class="task {{ task.task_type }}">
            <strong>{{ task.title }}</strong><br>

            <span>Priority: {{ task.priority }}</span><br>

            {% if task.task_type == "personal" %}
                <span>Category: {{ task.category }}</span><br>
                <span>Status: {{ task.status }}</span>
            {% elif task.task_type == "work" %}
                <span>Deadline: {{ task.deadline }}</span>
            {% elif task.task_type == "urgent" %}
                <span>Deadline: {{ task.deadline }}</span><br>
                <span>Reason: {{ task.reason }}</span>
            {% endif %}
        </div>
    {% endfor %}

    <div class="footer">
        Built with Flask · Render · Python 💻
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
